@import url(style.css);

.about_main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5rem);
    gap: 4rem;
}

.about__colaborador
{
    text-align: center;
}

.about__colaborador img {
    border-radius: 50%;
    width: 15rem;
}

.about__colaborador p {
    margin-bottom: 1rem;
    
}